In [92]:
print('hello')

hello

In [93]:
print('going to die')

going to die

In [94]:
123+321

444

In [95]:
import pandas as pd
import numpy as np
#设置列不限制数量
pd.set_option('display.max_columns', None)

In [96]:
data = pd.read_csv("D:/c-j-l-j-l-cc-1/1990.12.19-今股票上证指数数据.csv") # 这一句是导入CSV文件的命令。
# data是给东西命名（变量名）：大小写敏感，第一个字符必须是英文字母、下划线或中文，
# 其余字符可以是英文字母、数字、下划线或中文，不能以数字开头。不能与关键字重名等。路径要用双引号，用/，read:读取的意思

In [97]:
data = pd.read_csv("1990.12.19-今股票上证指数数据.csv")
# 相对路径

In [98]:
from IPython.core.interactiveshell import InteractiveShell # jupyter运行输出的模块
InteractiveShell.ast_node_interactivity = 'all'

In [99]:
data = pd.read_csv('D:/c-j-l-j-l-cc-1/1990.12.19-今股票上证指数数据.csv') # 这一句是导入CSV文件的命令
# 绝对路径
print(data) # 打印出data

             Day  Preclose     Open  Highest   Lowest    Close       Volume  \
0     1990/12/19              96.05    99.98    95.79    99.98       126000
1     1990/12/20     99.98   104.30   104.39    99.98   104.39        19700
2     1990/12/21    104.39   109.07   109.13   103.73   109.13         2800
3     1990/12/24    109.13   113.57   114.55   109.13   114.55         3200
4     1990/12/25    114.55   120.09   120.25   114.55   120.25         1500
...          ...       ...      ...      ...      ...      ...          ...
7719   2022/7/25   3269.97  3269.71  3273.18  3243.03  3250.39  27124574400
7720   2022/7/26   3250.39  3254.19  3282.41  3246.04  3277.44  25946867600
7721   2022/7/27   3277.44  3271.78  3282.57  3265.73  3275.76  24913148500
7722   2022/7/28   3275.76  3287.50  3305.71  3277.11  3282.58  28805505600
7723   2022/7/29   3282.58  3282.81  3294.80  3246.37  3253.24  30733104700

             Money
0     4.940000e+05
1     8.400000e+04
2     1.600000e+04
3     3.100000e+04
4     6.000000e+03
...            ...
7719  3.480000e+11
7720  3.340000e+11
7721  3.400000e+11
7722  3.960000e+11
7723  4.110000e+11

[7724 rows x 8 columns]

In [100]:
type(data)
# 无引号，DataFrame：数据框，type：看对象属性

pandas.core.frame.DataFrame

In [101]:
print(data.columns)
# 打出数据各栏目

Index(['Day', 'Preclose', 'Open', 'Highest', 'Lowest', 'Close', 'Volume',
       'Money'],
      dtype='object')

In [102]:
print(data.columns.values)

['Day' 'Preclose' 'Open' 'Highest' 'Lowest' 'Close' 'Volume' 'Money']

In [103]:
data['Day']

0       1990/12/19
1       1990/12/20
2       1990/12/21
3       1990/12/24
4       1990/12/25
           ...
7719     2022/7/25
7720     2022/7/26
7721     2022/7/27
7722     2022/7/28
7723     2022/7/29
Name: Day, Length: 7724, dtype: object

In [104]:
data[['Day']]

             Day
0     1990/12/19
1     1990/12/20
2     1990/12/21
3     1990/12/24
4     1990/12/25
...          ...
7719   2022/7/25
7720   2022/7/26
7721   2022/7/27
7722   2022/7/28
7723   2022/7/29

[7724 rows x 1 columns]

In [105]:
1+1

2

In [106]:
print('hi')

hi

In [107]:
x=2
x**64

18446744073709551616

In [108]:
help(x)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [109]:
dir(x)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [110]:
data.Close
# 只打出收盘价那一列
# way2:data["Day"]
# 保存两列用两个中括号：data2 = data[["Day,Close"]]
# data[0:10]:0-9行

0         99.98
1        104.39
2        109.13
3        114.55
4        120.25
         ...
7719    3250.39
7720    3277.44
7721    3275.76
7722    3282.58
7723    3253.24
Name: Close, Length: 7724, dtype: float64

In [111]:
data2 = data[['Day','Close']]

In [112]:
data.at[2,'Open'] # 找行与目标，用at

109.07

In [113]:
data['Day'] = pd.to_datetime(data['Day'],format = '%Y-%m-%d')
data # 把文本变成日期格式

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [114]:
data[data['Day'] == "1990/12/21"].Open
# 查找具体哪一天的开盘价
# 代码不会运行＃后面的东西

2    109.07
Name: Open, dtype: float64

In [115]:
data[0:10]
# 打出来的比要求的少一行

         Day  Preclose    Open  Highest  Lowest   Close  Volume     Money
0 1990-12-19             96.05    99.98   95.79   99.98  126000  494000.0
1 1990-12-20     99.98  104.30   104.39   99.98  104.39   19700   84000.0
2 1990-12-21    104.39  109.07   109.13  103.73  109.13    2800   16000.0
3 1990-12-24    109.13  113.57   114.55  109.13  114.55    3200   31000.0
4 1990-12-25    114.55  120.09   120.25  114.55  120.25    1500    6000.0
5 1990-12-26    120.25  125.27   125.27  120.25  125.27   10000   53000.0
6 1990-12-27    125.27  125.27   125.28  125.27  125.28    6600  104000.0
7 1990-12-28    125.28  126.39   126.45  125.28  126.45   10800   88000.0
8 1990-12-31    126.45  126.56   127.61  126.48  127.61    7800   60000.0
9 1991-01-02    127.61  127.61   128.84  127.61  128.84    9100   59000.0

In [116]:
print(data[0:10])
# 相比于data[0:10]，没有格子

         Day  Preclose    Open  Highest  Lowest   Close  Volume     Money
0 1990-12-19             96.05    99.98   95.79   99.98  126000  494000.0
1 1990-12-20     99.98  104.30   104.39   99.98  104.39   19700   84000.0
2 1990-12-21    104.39  109.07   109.13  103.73  109.13    2800   16000.0
3 1990-12-24    109.13  113.57   114.55  109.13  114.55    3200   31000.0
4 1990-12-25    114.55  120.09   120.25  114.55  120.25    1500    6000.0
5 1990-12-26    120.25  125.27   125.27  120.25  125.27   10000   53000.0
6 1990-12-27    125.27  125.27   125.28  125.27  125.28    6600  104000.0
7 1990-12-28    125.28  126.39   126.45  125.28  126.45   10800   88000.0
8 1990-12-31    126.45  126.56   127.61  126.48  127.61    7800   60000.0
9 1991-01-02    127.61  127.61   128.84  127.61  128.84    9100   59000.0

# step 1
markdown:用来写标题

绝对路径

In [117]:
'''
三个引号中间放注释
'''

'\n三个引号中间放注释\n'