In [16]:
print('hello')

hello

In [17]:
print('going to die')

going to die

In [18]:
123+321

444

In [19]:
import pandas as pd
import numpy as np
#设置列不限制数量
pd.set_option('display.max_columns', None)

In [20]:
data = pd.read_csv('D:/c-j-l-j-l-cc-1/1990.12.19-今股票上证指数数据.csv') # 这一句是导入CSV文件的命令

In [21]:
from IPython.core.interactiveshell import InteractiveShell # jupyter运行输出的模块
InteractiveShell.ast_node_interactivity = 'all'

In [22]:
data = pd.read_csv('D:/c-j-l-j-l-cc-1/1990.12.19-今股票上证指数数据.csv') # 这一句是导入CSV文件的命令
data
print(data)

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990/12/19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990/12/20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990/12/21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990/12/24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990/12/25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022/7/25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022/7/26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022/7/27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022/7/28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022/7/29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

             Day  Preclose     Open  Highest   Lowest    Close       Volume  \
0     1990/12/19              96.05    99.98    95.79    99.98       126000
1     1990/12/20     99.98   104.30   104.39    99.98   104.39        19700
2     1990/12/21    104.39   109.07   109.13   103.73   109.13         2800
3     1990/12/24    109.13   113.57   114.55   109.13   114.55         3200
4     1990/12/25    114.55   120.09   120.25   114.55   120.25         1500
...          ...       ...      ...      ...      ...      ...          ...
7719   2022/7/25   3269.97  3269.71  3273.18  3243.03  3250.39  27124574400
7720   2022/7/26   3250.39  3254.19  3282.41  3246.04  3277.44  25946867600
7721   2022/7/27   3277.44  3271.78  3282.57  3265.73  3275.76  24913148500
7722   2022/7/28   3275.76  3287.50  3305.71  3277.11  3282.58  28805505600
7723   2022/7/29   3282.58  3282.81  3294.80  3246.37  3253.24  30733104700

             Money
0     4.940000e+05
1     8.400000e+04
2     1.600000e+04
3     3.100000e+04
4     6.000000e+03
...            ...
7719  3.480000e+11
7720  3.340000e+11
7721  3.400000e+11
7722  3.960000e+11
7723  4.110000e+11

[7724 rows x 8 columns]

In [23]:
type(data)

pandas.core.frame.DataFrame

In [24]:
print(data.columns)

Index(['Day', 'Preclose', 'Open', 'Highest', 'Lowest', 'Close', 'Volume',
       'Money'],
      dtype='object')

In [25]:
print(data.columns.values)

['Day' 'Preclose' 'Open' 'Highest' 'Lowest' 'Close' 'Volume' 'Money']

In [26]:
data['Day']

0       1990/12/19
1       1990/12/20
2       1990/12/21
3       1990/12/24
4       1990/12/25
           ...
7719     2022/7/25
7720     2022/7/26
7721     2022/7/27
7722     2022/7/28
7723     2022/7/29
Name: Day, Length: 7724, dtype: object

In [27]:
data[['Day']]

             Day
0     1990/12/19
1     1990/12/20
2     1990/12/21
3     1990/12/24
4     1990/12/25
...          ...
7719   2022/7/25
7720   2022/7/26
7721   2022/7/27
7722   2022/7/28
7723   2022/7/29

[7724 rows x 1 columns]