In [37]:
print('hello')

hello

In [38]:
print('going to die')

going to die

In [39]:
123+321

444

In [40]:
import pandas as pd
import numpy as np
#设置列不限制数量
pd.set_option('display.max_columns', None)

In [41]:
data = pd.read_csv("D:/c-j-l-j-l-cc-1/1990.12.19-今股票上证指数数据.csv") # 这一句是导入CSV文件的命令。
# data是给东西命名（变量名）：大小写敏感，第一个字符必须是英文字母、下划线或中文，
# 其余字符可以是英文字母、数字、下划线或中文，不能以数字开头。不能与关键字重名等。路径要用双引号，用/，read:读取的意思

In [42]:
data = pd.read_csv("1990.12.19-今股票上证指数数据.csv")
# 相对路径

In [43]:
data = pd.read_csv('D:/c-j-l-j-l-cc-1/1990.12.19-今股票上证指数数据.csv') # 这一句是导入CSV文件的命令
# 绝对路径
print(data) # 打印出data

             Day  Preclose     Open  Highest   Lowest    Close       Volume  \
0     1990/12/19              96.05    99.98    95.79    99.98       126000
1     1990/12/20     99.98   104.30   104.39    99.98   104.39        19700
2     1990/12/21    104.39   109.07   109.13   103.73   109.13         2800
3     1990/12/24    109.13   113.57   114.55   109.13   114.55         3200
4     1990/12/25    114.55   120.09   120.25   114.55   120.25         1500
...          ...       ...      ...      ...      ...      ...          ...
7719   2022/7/25   3269.97  3269.71  3273.18  3243.03  3250.39  27124574400
7720   2022/7/26   3250.39  3254.19  3282.41  3246.04  3277.44  25946867600
7721   2022/7/27   3277.44  3271.78  3282.57  3265.73  3275.76  24913148500
7722   2022/7/28   3275.76  3287.50  3305.71  3277.11  3282.58  28805505600
7723   2022/7/29   3282.58  3282.81  3294.80  3246.37  3253.24  30733104700

             Money
0     4.940000e+05
1     8.400000e+04
2     1.600000e+04
3     3.100000e+04
4     6.000000e+03
...            ...
7719  3.480000e+11
7720  3.340000e+11
7721  3.400000e+11
7722  3.960000e+11
7723  4.110000e+11

[7724 rows x 8 columns]

In [44]:
type(data)
# 无引号，DataFrame：数据框，type：看对象属性

pandas.core.frame.DataFrame

In [45]:
print(data.columns)

Index(['Day', 'Preclose', 'Open', 'Highest', 'Lowest', 'Close', 'Volume',
       'Money'],
      dtype='object')

In [46]:
print(data.columns.values)

['Day' 'Preclose' 'Open' 'Highest' 'Lowest' 'Close' 'Volume' 'Money']

In [47]:
data['Day']

0       1990/12/19
1       1990/12/20
2       1990/12/21
3       1990/12/24
4       1990/12/25
           ...
7719     2022/7/25
7720     2022/7/26
7721     2022/7/27
7722     2022/7/28
7723     2022/7/29
Name: Day, Length: 7724, dtype: object

In [48]:
data[['Day']]

             Day
0     1990/12/19
1     1990/12/20
2     1990/12/21
3     1990/12/24
4     1990/12/25
...          ...
7719   2022/7/25
7720   2022/7/26
7721   2022/7/27
7722   2022/7/28
7723   2022/7/29

[7724 rows x 1 columns]

In [49]:
data.Close
# 只打出收盘价那一列
# way2:data["Day"]
# 保存两列用两个中括号：data2 = data[["Day,Close"]]
# data[0:10]:0-9行

0         99.98
1        104.39
2        109.13
3        114.55
4        120.25
         ...
7719    3250.39
7720    3277.44
7721    3275.76
7722    3282.58
7723    3253.24
Name: Close, Length: 7724, dtype: float64

In [50]:
data2 = data[['Day','Close']]
data2

             Day    Close
0     1990/12/19    99.98
1     1990/12/20   104.39
2     1990/12/21   109.13
3     1990/12/24   114.55
4     1990/12/25   120.25
...          ...      ...
7719   2022/7/25  3250.39
7720   2022/7/26  3277.44
7721   2022/7/27  3275.76
7722   2022/7/28  3282.58
7723   2022/7/29  3253.24

[7724 rows x 2 columns]

In [51]:
data.at[2,'Open'] # 找行与目标，用at

109.07

In [52]:
data['Day'] = pd.to_datetime(data['Day'],format = '%Y-%m-%d')
data

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [53]:
data[data['Day'] == "1990/12/21"].Open
# 查找具体哪一天的开盘价
# 代码不会运行＃后面的东西

2    109.07
Name: Open, dtype: float64

In [54]:
data[0:10]
# 打出来的比要求的少一行

         Day  Preclose    Open  Highest  Lowest   Close  Volume     Money
0 1990-12-19             96.05    99.98   95.79   99.98  126000  494000.0
1 1990-12-20     99.98  104.30   104.39   99.98  104.39   19700   84000.0
2 1990-12-21    104.39  109.07   109.13  103.73  109.13    2800   16000.0
3 1990-12-24    109.13  113.57   114.55  109.13  114.55    3200   31000.0
4 1990-12-25    114.55  120.09   120.25  114.55  120.25    1500    6000.0
5 1990-12-26    120.25  125.27   125.27  120.25  125.27   10000   53000.0
6 1990-12-27    125.27  125.27   125.28  125.27  125.28    6600  104000.0
7 1990-12-28    125.28  126.39   126.45  125.28  126.45   10800   88000.0
8 1990-12-31    126.45  126.56   127.61  126.48  127.61    7800   60000.0
9 1991-01-02    127.61  127.61   128.84  127.61  128.84    9100   59000.0

In [55]:
print(data[0:10])
# 相比于data[0:10]，没有格子

         Day  Preclose    Open  Highest  Lowest   Close  Volume     Money
0 1990-12-19             96.05    99.98   95.79   99.98  126000  494000.0
1 1990-12-20     99.98  104.30   104.39   99.98  104.39   19700   84000.0
2 1990-12-21    104.39  109.07   109.13  103.73  109.13    2800   16000.0
3 1990-12-24    109.13  113.57   114.55  109.13  114.55    3200   31000.0
4 1990-12-25    114.55  120.09   120.25  114.55  120.25    1500    6000.0
5 1990-12-26    120.25  125.27   125.27  120.25  125.27   10000   53000.0
6 1990-12-27    125.27  125.27   125.28  125.27  125.28    6600  104000.0
7 1990-12-28    125.28  126.39   126.45  125.28  126.45   10800   88000.0
8 1990-12-31    126.45  126.56   127.61  126.48  127.61    7800   60000.0
9 1991-01-02    127.61  127.61   128.84  127.61  128.84    9100   59000.0

# step 1
markdown:用来写标题

绝对路径

In [56]:
'''
三个引号中间放注释
'''

'\n三个引号中间放注释\n'

In [57]:
data2= data.sort_values(by=['Day'],axis=0, ascending=False) # f:从今到古；t:从古至今
data2

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
7723,2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11
7722,2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7721,2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7720,2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7719,2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
...,...,...,...,...,...,...,...,...
4,1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
3,1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
2,1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
1,1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
0,1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05

In [58]:
'''
今天收盘价-昨天的收盘价，再除以昨天的收盘价，=每天的回报率
两种数据处理方式，列和行
'''

'\n今天收盘价-昨天的收盘价，再除以昨天的收盘价，=每天的回报率\n两种数据处理方式，列和行\n'

In [59]:
data2 = pd.read_csv('1990.12.19-今股票上证指数数据.csv') # 这一句是导入CSV文件的命令
data2 # 让我看看数据是什么样子

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990/12/19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990/12/20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990/12/21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990/12/24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990/12/25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022/7/25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022/7/26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022/7/27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022/7/28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022/7/29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [60]:
data['Day'] = pd.to_datetime(data['Day'],format = '%Y-%m-%d') # ps:运行大小写y都一样，只有年份为两位数时才用y🆗
data #

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [61]:
data.sort_values(by = ['Day'],axis=0, ascending=True)
# 顺序排列数据

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [62]:
data.set_index('Day', inplace = True) # day成了索引，即独立于一行
data

,Preclose,Open,Highest,Lowest,Close,Volume,Money
Day,,,,,,,
1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [63]:
data['1995-01':'2022-07'].copy()# 选某个时间段呈现 # copy：作用：不在原代码上修改

,Preclose,Open,Highest,Lowest,Close,Volume,Money
Day,,,,,,,
1995-01-03,647.87,637.72,647.71,630.53,639.88,23451800,1.806930e+08
1995-01-04,639.88,641.90,655.51,638.86,653.81,42222000,3.069230e+08
1995-01-05,653.81,655.38,657.52,645.81,646.89,43012300,3.015330e+08
1995-01-06,646.89,642.75,643.89,636.33,640.76,48748200,3.537580e+08
1995-01-09,640.76,637.52,637.55,625.04,626.00,50985100,3.985190e+08
...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [64]:
data = pd.read_csv('1990.12.19-今股票上证指数数据.csv')
data['Day'] = pd.to_datetime(data['Day'],format='%Y/%m/%d')
data.set_index('Day', inplace = True)
data.sort_values(by = ['Day'],axis=0, ascending=True)

,Preclose,Open,Highest,Lowest,Close,Volume,Money
Day,,,,,,,
1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [65]:
index = data["1990-12-20":"2022-07-29"].copy()
index['Close'] = pd.to_numeric(index['Close'])
index["Preclose"] = pd.to_numeric(index["Preclose"]) 
index

,Preclose,Open,Highest,Lowest,Close,Volume,Money
Day,,,,,,,
1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
1990-12-26,120.25,125.27,125.27,120.25,125.27,10000,5.300000e+04
...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [66]:
# 计算000001上证指数日收益率 两种：
# 不要再copy数据了，会失去处理过的步骤
index['Raw_return'] = index['Close'] / index['Preclose'] - 1
index['Log_return'] = np.log(index['Close']) - np.log(index['Preclose'])
index

,Preclose,Open,Highest,Lowest,Close,Volume,Money,Raw_return,Log_return
Day,,,,,,,,,
1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04,0.044109,0.043164
1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04,0.045407,0.044406
1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04,0.049666,0.048472
1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03,0.049760,0.048562
1990-12-26,120.25,125.27,125.27,120.25,125.27,10000,5.300000e+04,0.041746,0.040898
...,...,...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11,-0.005988,-0.006006
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11,0.008322,0.008288
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11,-0.000513,-0.000513
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11,0.002082,0.002080
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11,-0.008938,-0.008978

In [67]:
Month_data = index.resample('m')['Log_return'].sum().to_frame() # 月回报率
Month_data['Raw_return'] = np.exp(Month_data['Log_return']) - 1
Month_data

            Log_return  Raw_return
Day
1990-12-31    0.244009    0.276355
1991-01-31    0.018325    0.018494
1991-02-28    0.023121    0.023390
1991-03-31   -0.101350   -0.096384
1991-04-30   -0.053402   -0.052001
...                ...         ...
2022-03-31   -0.062604   -0.060685
2022-04-30   -0.065154   -0.063077
2022-05-31    0.044724    0.045739
2022-06-30    0.064468    0.066592
2022-07-31   -0.043718   -0.042776

[380 rows x 2 columns]

In [68]:
Year_data = index.resample('Y')['Close'].last().to_frame() # 年回报率 # resample：取样函数
Year_data

              Close
Day
1990-12-31   127.61
1991-12-31   292.75
1992-12-31   780.39
1993-12-31   833.80
1994-12-31   647.87
1995-12-31   555.29
1996-12-31   917.02
1997-12-31  1194.10
1998-12-31  1146.70
1999-12-31  1366.58
2000-12-31  2073.48
2001-12-31  1645.97
2002-12-31  1357.65
2003-12-31  1497.04
2004-12-31  1266.50
2005-12-31  1161.06
2006-12-31  2675.47
2007-12-31  5261.56
2008-12-31  1820.81
2009-12-31  3277.14
2010-12-31  2808.08
2011-12-31  2199.42
2012-12-31  2269.13
2013-12-31  2115.98
2014-12-31  3234.68
2015-12-31  3539.18
2016-12-31  3103.64
2017-12-31  3307.17
2018-12-31  2493.90
2019-12-31  3050.12
2020-12-31  3473.07
2021-12-31  3639.78
2022-12-31  3253.24

In [69]:
Year_data = index.resample('Y')['Log_return'].sum().to_frame() # 年回报率
Year_data['Raw_return'] = np.exp(Year_data['Log_return']) - 1
Year_data

            Log_return  Raw_return
Day
1990-12-31    0.244009    0.276355
1991-12-31    0.830340    1.294099
1992-12-31    0.980475    1.665722
1993-12-31    0.066200    0.068440
1994-12-31   -0.252304   -0.222991
1995-12-31   -0.154200   -0.142899
1996-12-31    0.501639    0.651425
1997-12-31    0.264019    0.302153
1998-12-31   -0.040505   -0.039695
1999-12-31    0.175423    0.191750
2000-12-31    0.416917    0.517277
2001-12-31   -0.230898   -0.206180
2002-12-31   -0.192575   -0.175167
2003-12-31    0.097735    0.102670
2004-12-31   -0.167233   -0.153997
2005-12-31   -0.086924   -0.083253
2006-12-31    0.834792    1.304334
2007-12-31    0.676302    0.966593
2008-12-31   -1.061146   -0.653941
2009-12-31    0.587690    0.799825
2010-12-31   -0.154470   -0.143131
2011-12-31   -0.244307   -0.216753
2012-12-31    0.031203    0.031695
2013-12-31   -0.069878   -0.067493
2014-12-31    0.424412    0.528691
2015-12-31    0.089965    0.094136
2016-12-31   -0.131319   -0.123062
2017-12-31    0.063517    0.065578
2018-12-31   -0.282245   -0.245911
2019-12-31    0.201333    0.223032
2020-12-31    0.129858    0.138667
2021-12-31    0.046884    0.048001
2022-12-31   -0.112272   -0.106199

In [70]:
Quarter_data = index.resample('Q')['Log_return'].sum().to_frame() # 季度回报率
Quarter_data['Raw_return'] = np.exp(Quarter_data['Log_return']) - 1
Quarter_data

            Log_return  Raw_return
Day
1990-12-31    0.244009    0.276355
1991-03-31   -0.059905   -0.058146
1991-06-30    0.134986    0.144521
1991-09-30    0.273995    0.315208
1991-12-31    0.481264    0.618119
...                ...         ...
2021-09-30   -0.006434   -0.006413
2021-12-31    0.019870    0.020069
2022-03-31   -0.112592   -0.106484
2022-06-30    0.044038    0.045022
2022-09-30   -0.043718   -0.042776

[128 rows x 2 columns]

In [71]:
# groupby 更具有普适性，即使不是时间数据，也能取样。resample：必须有设置好时间索引才行

In [72]:
# “1990-12-12”日期格式 里面的year年份 month月份 day 直接提出取来
index2 = index
index2['year'] = index2.index.year
index2['month'] = index2.index.month
index2
# 使用的时间、日期格式提取 字符串提出的方式 前四个字符当作年份 6-7字符是月份 提取出来的是字符串 变成数值

,Preclose,Open,Highest,Lowest,Close,Volume,Money,Raw_return,Log_return,year,month
Day,,,,,,,,,,,
1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04,0.044109,0.043164,1990,12
1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04,0.045407,0.044406,1990,12
1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04,0.049666,0.048472,1990,12
1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03,0.049760,0.048562,1990,12
1990-12-26,120.25,125.27,125.27,120.25,125.27,10000,5.300000e+04,0.041746,0.040898,1990,12
...,...,...,...,...,...,...,...,...,...,...,...
2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11,-0.005988,-0.006006,2022,7
2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11,0.008322,0.008288,2022,7
2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11,-0.000513,-0.000513,2022,7
2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11,0.002082,0.002080,2022,7
2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11,-0.008938,-0.008978,2022,7

In [73]:
Month_data2 = pd.DataFrame(index.groupby(['year','month'])['Log_return'].sum())
Month_data2

            Log_return
year month
1990 12       0.244009
1991 1        0.018325
     2        0.023121
     3       -0.101350
     4       -0.053402
...                ...
2022 3       -0.062604
     4       -0.065154
     5        0.044724
     6        0.064468
     7       -0.043718

[380 rows x 1 columns]