#准备工作
导入包：numpy pandas

In [10]:
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv("D:/c-j-l-j-l-cc-1/datasets/000001.csv")#路径尽量用/而不是右斜线

In [12]:
data

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990/12/19,,96.0500,99.9800,95.7900,99.9800,126000,4.940000e+05
1,1990/12/20,99.98,104.3000,104.3900,99.9800,104.3900,19700,8.400000e+04
2,1990/12/21,104.39,109.0700,109.1300,103.7300,109.1300,2800,1.600000e+04
3,1990/12/24,109.13,113.5700,114.5500,109.1300,114.5500,3200,3.100000e+04
4,1990/12/25,114.55,120.0900,120.2500,114.5500,120.2500,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
8205,2024/7/25,2901.9518,2891.8918,2897.7674,2872.8497,2886.7416,27463950000,2.730000e+11
8206,2024/7/26,2886.7416,2885.9953,2899.1162,2875.3959,2890.8973,27838753600,2.750000e+11
8207,2024/7/29,2890.8973,2889.4726,2898.9512,2878.5825,2891.8453,25689972700,2.600000e+11
8208,2024/7/30,2891.8453,2885.2152,2885.2152,2865.1493,2879.2996,26247883700,2.690000e+11
8209,2024/7/31,2879.2996,2877.5409,2940.5927,2876.3009,2938.7493,41272341700,4.190000e+11

In [13]:
type(data)

pandas.core.frame.DataFrame

In [14]:
data["Day"]

0       1990/12/19
1       1990/12/20
2       1990/12/21
3       1990/12/24
4       1990/12/25
           ...
8205     2024/7/25
8206     2024/7/26
8207     2024/7/29
8208     2024/7/30
8209     2024/7/31
Name: Day, Length: 8210, dtype: object