In [93]:
print('hello')

hello

In [94]:
print('going to die')

going to die

In [95]:
123+321

444

In [96]:
import pandas as pd
import numpy as np
#设置列不限制数量
pd.set_option('display.max_columns', None)

In [97]:
data = pd.read_csv("D:/c-j-l-j-l-cc-1/1990.12.19-今股票上证指数数据.csv") # 这一句是导入CSV文件的命令。
# data是给东西命名（变量名）：大小写敏感，第一个字符必须是英文字母、下划线或中文，
# 其余字符可以是英文字母、数字、下划线或中文，不能以数字开头。不能与关键字重名等。路径要用双引号，用/，read:读取的意思

In [98]:
data = pd.read_csv("1990.12.19-今股票上证指数数据.csv")
# 相对路径

In [99]:
data = pd.read_csv('D:/c-j-l-j-l-cc-1/1990.12.19-今股票上证指数数据.csv') # 这一句是导入CSV文件的命令
# 绝对路径
print(data) # 打印出data

             Day  Preclose     Open  Highest   Lowest    Close       Volume  \
0     1990/12/19              96.05    99.98    95.79    99.98       126000
1     1990/12/20     99.98   104.30   104.39    99.98   104.39        19700
2     1990/12/21    104.39   109.07   109.13   103.73   109.13         2800
3     1990/12/24    109.13   113.57   114.55   109.13   114.55         3200
4     1990/12/25    114.55   120.09   120.25   114.55   120.25         1500
...          ...       ...      ...      ...      ...      ...          ...
7719   2022/7/25   3269.97  3269.71  3273.18  3243.03  3250.39  27124574400
7720   2022/7/26   3250.39  3254.19  3282.41  3246.04  3277.44  25946867600
7721   2022/7/27   3277.44  3271.78  3282.57  3265.73  3275.76  24913148500
7722   2022/7/28   3275.76  3287.50  3305.71  3277.11  3282.58  28805505600
7723   2022/7/29   3282.58  3282.81  3294.80  3246.37  3253.24  30733104700

             Money
0     4.940000e+05
1     8.400000e+04
2     1.600000e+04
3     3.100000e+04
4     6.000000e+03
...            ...
7719  3.480000e+11
7720  3.340000e+11
7721  3.400000e+11
7722  3.960000e+11
7723  4.110000e+11

[7724 rows x 8 columns]

In [100]:
type(data)
# 无引号，DataFrame：数据框，type：看对象属性

pandas.core.frame.DataFrame

In [101]:
print(data.columns)

Index(['Day', 'Preclose', 'Open', 'Highest', 'Lowest', 'Close', 'Volume',
       'Money'],
      dtype='object')

In [102]:
print(data.columns.values)

['Day' 'Preclose' 'Open' 'Highest' 'Lowest' 'Close' 'Volume' 'Money']

In [103]:
data['Day']

0       1990/12/19
1       1990/12/20
2       1990/12/21
3       1990/12/24
4       1990/12/25
           ...
7719     2022/7/25
7720     2022/7/26
7721     2022/7/27
7722     2022/7/28
7723     2022/7/29
Name: Day, Length: 7724, dtype: object

In [104]:
data[['Day']]

             Day
0     1990/12/19
1     1990/12/20
2     1990/12/21
3     1990/12/24
4     1990/12/25
...          ...
7719   2022/7/25
7720   2022/7/26
7721   2022/7/27
7722   2022/7/28
7723   2022/7/29

[7724 rows x 1 columns]

In [105]:
data.Close
# 只打出收盘价那一列
# way2:data["Day"]
# 保存两列用两个中括号：data2 = data[["Day,Close"]]
# data[0:10]:0-9行

0         99.98
1        104.39
2        109.13
3        114.55
4        120.25
         ...
7719    3250.39
7720    3277.44
7721    3275.76
7722    3282.58
7723    3253.24
Name: Close, Length: 7724, dtype: float64

In [106]:
data2 = data[['Day','Close']]
data2

             Day    Close
0     1990/12/19    99.98
1     1990/12/20   104.39
2     1990/12/21   109.13
3     1990/12/24   114.55
4     1990/12/25   120.25
...          ...      ...
7719   2022/7/25  3250.39
7720   2022/7/26  3277.44
7721   2022/7/27  3275.76
7722   2022/7/28  3282.58
7723   2022/7/29  3253.24

[7724 rows x 2 columns]

In [107]:
data.at[2,'Open'] # 找行与目标，用at

109.07

In [108]:
data['Day'] = pd.to_datetime(data['Day'],format = '%Y-%m-%d')
data

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [109]:
data[data['Day'] == "1990/12/21"].Open
# 查找具体哪一天的开盘价
# 代码不会运行＃后面的东西

2    109.07
Name: Open, dtype: float64

In [110]:
data[0:10]
# 打出来的比要求的少一行

         Day  Preclose    Open  Highest  Lowest   Close  Volume     Money
0 1990-12-19             96.05    99.98   95.79   99.98  126000  494000.0
1 1990-12-20     99.98  104.30   104.39   99.98  104.39   19700   84000.0
2 1990-12-21    104.39  109.07   109.13  103.73  109.13    2800   16000.0
3 1990-12-24    109.13  113.57   114.55  109.13  114.55    3200   31000.0
4 1990-12-25    114.55  120.09   120.25  114.55  120.25    1500    6000.0
5 1990-12-26    120.25  125.27   125.27  120.25  125.27   10000   53000.0
6 1990-12-27    125.27  125.27   125.28  125.27  125.28    6600  104000.0
7 1990-12-28    125.28  126.39   126.45  125.28  126.45   10800   88000.0
8 1990-12-31    126.45  126.56   127.61  126.48  127.61    7800   60000.0
9 1991-01-02    127.61  127.61   128.84  127.61  128.84    9100   59000.0

In [111]:
print(data[0:10])
# 相比于data[0:10]，没有格子

         Day  Preclose    Open  Highest  Lowest   Close  Volume     Money
0 1990-12-19             96.05    99.98   95.79   99.98  126000  494000.0
1 1990-12-20     99.98  104.30   104.39   99.98  104.39   19700   84000.0
2 1990-12-21    104.39  109.07   109.13  103.73  109.13    2800   16000.0
3 1990-12-24    109.13  113.57   114.55  109.13  114.55    3200   31000.0
4 1990-12-25    114.55  120.09   120.25  114.55  120.25    1500    6000.0
5 1990-12-26    120.25  125.27   125.27  120.25  125.27   10000   53000.0
6 1990-12-27    125.27  125.27   125.28  125.27  125.28    6600  104000.0
7 1990-12-28    125.28  126.39   126.45  125.28  126.45   10800   88000.0
8 1990-12-31    126.45  126.56   127.61  126.48  127.61    7800   60000.0
9 1991-01-02    127.61  127.61   128.84  127.61  128.84    9100   59000.0

# step 1
markdown:用来写标题

绝对路径

In [112]:
'''
三个引号中间放注释
'''

'\n三个引号中间放注释\n'

In [113]:
data = data.sort_values(by=['Day'],axis=0, ascending=False) # f:从今到古；t:从古至今
data

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
7723,2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11
7722,2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7721,2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7720,2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7719,2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
...,...,...,...,...,...,...,...,...
4,1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
3,1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
2,1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
1,1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
0,1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05

In [114]:
'''
今天收盘价-昨天的收盘价，再除以昨天的收盘价，=每天的回报率
两种数据处理方式，列和行
'''

'\n今天收盘价-昨天的收盘价，再除以昨天的收盘价，=每天的回报率\n两种数据处理方式，列和行\n'

In [115]:
data = pd.read_csv('1990.12.19-今股票上证指数数据.csv') # 这一句是导入CSV文件的命令
data # 让我看看数据是什么样子

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990/12/19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990/12/20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990/12/21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990/12/24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990/12/25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022/7/25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022/7/26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022/7/27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022/7/28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022/7/29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11

In [118]:
data['Day'] = pd.to_datetime(data['Day'],format = '%Y-%m-%d')
data

,Day,Preclose,Open,Highest,Lowest,Close,Volume,Money
0,1990-12-19,,96.05,99.98,95.79,99.98,126000,4.940000e+05
1,1990-12-20,99.98,104.30,104.39,99.98,104.39,19700,8.400000e+04
2,1990-12-21,104.39,109.07,109.13,103.73,109.13,2800,1.600000e+04
3,1990-12-24,109.13,113.57,114.55,109.13,114.55,3200,3.100000e+04
4,1990-12-25,114.55,120.09,120.25,114.55,120.25,1500,6.000000e+03
...,...,...,...,...,...,...,...,...
7719,2022-07-25,3269.97,3269.71,3273.18,3243.03,3250.39,27124574400,3.480000e+11
7720,2022-07-26,3250.39,3254.19,3282.41,3246.04,3277.44,25946867600,3.340000e+11
7721,2022-07-27,3277.44,3271.78,3282.57,3265.73,3275.76,24913148500,3.400000e+11
7722,2022-07-28,3275.76,3287.50,3305.71,3277.11,3282.58,28805505600,3.960000e+11
7723,2022-07-29,3282.58,3282.81,3294.80,3246.37,3253.24,30733104700,4.110000e+11